
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Security{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{asset('security/vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('security/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{asset('security/css/style.css')}}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{asset('security/images/favicon.png')}}" />
  </head>
  <body>
    {% block content %} {% endblock %}
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{asset('security/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('security/js/off-canvas.js')}}"></script>
    <script src="{{asset('security/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('security/js/misc.js')}}"></script>
    <script src="{{asset('security/js/settings.js')}}"></script>
    <script src="{{asset('security/js/todolist.js')}}"></script>
    <!-- endinject -->
  </body>
</html>